html {
    scroll-behavior: smooth;
}

body {
    font-family: "Adamina", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 1.15em;
    -webkit-text-size-adjust: none;
    background-color: #F5F5F4;
    color: #5E5E5E;
}

strong {
    font-weight: bold;
    color: #555;
}

main {
    margin-left: 250px; /* Same as nav width */
    padding: 0px 45px;
    padding-right: 25%;
    text-align: justify;
    line-height: 1.75em;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0F52BA; /* Sapphire */
    overflow-x: hidden;
}

#pfp {
    height: 150px;
    width: auto;
    border-radius: 50%;
    border: 5px solid #008ECC; /* Olypmic */
}

nav a{
    padding-bottom: 16px;
    margin-bottom: 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #bebebe;
    display: block;
    text-align: center;
}

nav a:hover {
    color: #FFF;
}

#about,
#work-experience,
#education, 
#skills, 
#certifications {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#work-experience,
#skills {
    padding-top: 8dvh;
    padding-bottom: 8dvh;
}

.about-title {
   font-size: 70px;
   font-weight: bold;
   text-transform: uppercase;
   padding-bottom: 30px;
   color: #000;
}

.div-title {
    font-size: 25px;
    padding-bottom: 30px;
}

.about-description {
    padding-bottom: 30px;
}

.social-icons i {
    font-size: 50px;
    padding-right: 15px;
    color: #0F52BA; /* Sapphire */
}

.social-icons i:hover {
    color: #F00;
}

.section-header {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 30px;
    color: #000;
}

.div-header {
    display: flex;
    justify-content: space-between;
}

.experience {
    gap: 20px;
    padding-bottom: 60px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.exp-description {
    list-style-type: disc;
    padding-left: 30px;
}

.icon-list {
    display: flex;
    gap: 10px;
}

.icon-list i {
    font-size: 50px;
}

.skill-list, 
.icon-list {
    padding-top: 10px;
    padding-bottom: 25px;
}

.badge {
    height: 150px;
}